.name {
    text-align: center;
    font-size: 50px;
}


.buttonBox {
    width: 100%;
    margin: auto;
    margin-top: 40vh;
    align-items: center;
    justify-content: center;
}

.buttonBox button {
    margin-left: 44%;
    border-radius: 10px;
    width: 242px;
    font-size: 15px;
}